*{
  padding: 0;
  margin: 0;
}
/* navigation */
.list-nav{
  text-decoration: none;
  font-size: 18px;
  color: rgb(39, 39, 39)
}
/* hero */
.body-hero{
  height: 80vh;
  background-color: rgb(39, 39, 39);
  border-radius: 43px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}